/* Riola */
audio::-webkit-media-controls-panel {
  background-color: rgb(187, 187, 163);
  
}
audio::-webkit-media-controls-play-button {
  background-color: rgb(214, 214, 175);
  border-radius: 50%;
}
audio::-webkit-media-controls-play-button:hover {
  background-color: rgb(255, 66, 192);
}
.threeballerinas {
  width:400px;
  height:400px;
}

.threeballerinas:hover  { opacity: 0;
  transition: opacity 4.5s;
}

.fear {
  font-family:cursive;
  text-align: center;
}

.melancholy {
  font-family:cursive;
  text-align: center;
  color: rgb(193, 0, 0); 
}

/* Kiara */
.pic-container {
  width: 1350px;
  margin: 0 auto;
  white-space: nowrap;
}

.pic-row {
  width: 1350px;
  height: 400px;
  overflow: scroll;
}

.image {
  font-family: Arial;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.overlap {
  transform: translateX(-50%);
  max-width: 25rem;
  padding: 1rem;
}

.overlap2 {
  transform: translateX(-50%);
  max-width: 25rem;
  padding: 1rem;
}

.world {
font-weight:bold;
font-size: larger;

}

/* Lizzie */
.column {
  display: flex;
}

.scrolling {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.container1 {
  position: relative;
}

.card {
  flex: 0 0 auto;
  
}

.surreal {
  font-family: fantasy;
  font-size: large;
  text-align: center;
}

.surreal:hover {
  opacity: 0;
  transition: opacity 2.85s;
}

/* When does a human become an object? */
details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: .5em .5em 0;
}

summary {
  font-weight: bold;
  margin: -.5em -.5em 0;
  padding: .5em;
}

details[open] {
  padding: .5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: .5em;
}
