.bruh {
  background-size: 250vw ;
}

.kill {
  color: blue;
  font-size: 100px;
  font-family:Arial, Helvetica, sans-serif;
}

.kill:hover {
  color: rgb(255, 0, 0);
  text-shadow:1px 1px 10px rgb(255, 154, 208), 1px 1px 10px rgb(255, 188, 240);
  font-size: 100px;
  font-family:Arial, Helvetica, sans-serif;
}
.pen {
  color: blue;
  font-size: 100px;
  font-family:Arial, Helvetica, sans-serif;
}

.pen:hover {
  color: rgb(255, 0, 0);
  text-shadow:1px 1px 10px rgb(255, 154, 208), 1px 1px 10px rgb(255, 188, 240);
  font-size: 100px;
  font-family:Arial, Helvetica, sans-serif;
}
.nj {
  color: blue;
  font-size: 100px;
  font-family:Arial, Helvetica, sans-serif;
}

.nj:hover {
  color: rgb(255, 0, 0);
  text-shadow:1px 1px 10px rgb(255, 154, 208), 1px 1px 10px rgb(255, 188, 240);
  font-size: 100px;
  font-family:Arial, Helvetica, sans-serif;
}
.girl {
  color: blue;
  font-size: 100px;
  font-family:Arial, Helvetica, sans-serif;
}

.girl:hover {
  color: rgb(255, 0, 0);
  text-shadow:1px 1px 10px rgb(255, 154, 208), 1px 1px 10px rgb(255, 188, 240);
  font-size: 100px;
  font-family:Arial, Helvetica, sans-serif;
}

.love {
  color: blue;
  font-size: 100px;
  font-family:Arial, Helvetica, sans-serif;
}

.love:hover {
  color: rgb(255, 0, 0);
  text-shadow:1px 1px 10px rgb(255, 154, 208), 1px 1px 10px rgb(255, 188, 240);
  font-size: 100px;
  font-family:Arial, Helvetica, sans-serif;
}

.likeblove {
  color: blue;
  font-size: 100px;
  font-family:Arial, Helvetica, sans-serif;
}

.likeblove:hover {
  color: rgb(255, 0, 0);
  text-shadow:1px 1px 10px rgb(255, 154, 208), 1px 1px 10px rgb(255, 188, 240);
  font-size: 100px;
  font-family:Arial, Helvetica, sans-serif;
}

.body {
  color: blue;
  font-size: 100px;
  font-family:Arial, Helvetica, sans-serif;
}

.body:hover {
  color: rgb(255, 0, 0);
  text-shadow:1px 1px 10px rgb(255, 154, 208), 1px 1px 10px rgb(255, 188, 240);
  font-size: 100px;
  font-family:Arial, Helvetica, sans-serif;
}

.blckbrwn {
  color: blue;
  font-size: 100px;
  font-family:Arial, Helvetica, sans-serif;
}

.blckbrwn:hover {
  color: rgb(255, 0, 0);
  text-shadow:1px 1px 10px rgb(255, 154, 208), 1px 1px 10px rgb(255, 188, 240);
  font-size: 100px;
  font-family:Arial, Helvetica, sans-serif;
}

.hate {
  color: blue;
  font-size: 100px;
  font-family:Arial, Helvetica, sans-serif;
}

.hate:hover {
  color: rgb(255, 0, 0);
  text-shadow:1px 1px 10px rgb(255, 154, 208), 1px 1px 10px rgb(255, 188, 240);
  font-size: 100px;
  font-family:Arial, Helvetica, sans-serif;
}

