
 video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 300px;
  height: 300px; 
  background-color: rgb(220, 232, 241);
  align-self: flex-start;
  border-style:groove;
  border-color: rgb(211, 228, 243);
  border-radius:130px;
  background-size:300px;
  padding-left:30px;
  padding-right:30px;
  padding-top:20px;
  padding-bottom:20px;
}

#chatterbox {
  background-color:rgb(170, 220, 238);
  border-radius: 10px;
  border: 4px double rgb(237, 206, 237);
  border-style:groove;
  color:rgb(255, 255, 255);
  transition: all 0.2s;
  object-position: left;
}

#output1 {
background-color: rgb(238, 170, 232);
width: 360px;
border-style: groove;
border-radius:5px;
border-color: rgb(220, 143, 220);
}

#submitbtn {
  background-color:plum;
  border-radius: 10px;
  border: 4px double rgb(214, 149, 214);
  border-style:outset;
  color:rgb(255, 255, 255);
  object-position: left;
}

#submitbtn:hover {
  background-color:rgb(183, 119, 183);
  border-radius: 10px;
  border: 4px double rgb(165, 105, 165);
  border-style:inset;
  color:rgb(255, 255, 255);
  transition: all 0.2s;
  object-position: left;
}


.row {
  display: flex;
  justify-content: center;
  }
  
  .column {
    flex:20%;
    justify-content: flex-start;
    padding: 10px
  }

  .column_2 {
    flex:47%;
    justify-content: flex-start;
    padding: 10px
  }

  .column_3 {
    /*flex:60%; */
    /*justify-content: flex-start; */
   /* padding: 1px */
  }

.palisades {
color: blue;
font-size: xx-large;
font-family:'Times New Roman', Times, serif
}

.palisades:hover {
  font-size:xx-large;
  color:  rgb(49, 12, 63);
  text-shadow:1px 1px 10px rgb(240, 253, 251), 1px 1px 10px rgb(230, 252, 231);
}

.nj {
color: blue;
font-size: xx-large;
font-family:'Times New Roman', Times, serif;
}

.nj:hover {
  plaza:hover 
  color: rgb(252, 255, 166);
  text-shadow:1px 1px 10px rgb(207, 216, 32), 1px 1px 10px rgba(216, 255, 21, 0.788);
}

.heaven {
  color: blue;
  font-size: xx-large;
  font-family:'Times New Roman', Times, serif;
}

.heaven:hover {
  color:rgb(232, 242, 243);
  text-shadow:1px 1px 10px rgb(243, 220, 232), 1px 1px 10px rgb(244, 244, 216);
}

.bro {
  color: blue;
  font-size: 10vw;
  font-family:Arial, Helvetica, sans-serif;
}

.bro:hover {
  color: rgb(255, 0, 0);
  font-size: 10vw;
  font-family:Arial, Helvetica, sans-serif;
}