
 video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 300px;
  height: 300px; 
  -webkit-filter:saturate(1.2);
}

#videoElement {
  background-color: rgb(220, 232, 241);
  align-self: flex-start;
  border-style:groove;
  border-color: rgb(211, 228, 243);
  border-radius:170px;
  background-size:300px;
  padding-left:30px;
  padding-right:30px;
  padding-top:20px;
  padding-bottom:20px;
}

#videoElement:hover {
  transition: all 0.5s;
  background-color: rgb(235, 202, 236);
  border-color: rgb(251, 198, 255);
  border-radius:170px;
}

#chatterbox {
  background-color:rgb(170, 220, 238);
  border-radius: 10px;
  border: 4px double rgb(237, 206, 237);
  border-style:groove;
  color:rgb(255, 255, 255);
  transition: all 0.2s;
  object-position: left;
}

#output1 {
background-color: rgb(238, 170, 232);
width: 360px;
border-style: groove;
border-radius:5px;
border-color: rgb(220, 143, 220);
}

#submitbtn {
  background-color:plum;
  border-radius: 10px;
  border: 4px double rgb(214, 149, 214);
  border-style:outset;
  color:rgb(255, 255, 255);
  object-position: left;
}

#submitbtn:hover {
  background-color:rgb(183, 119, 183);
  border-radius: 10px;
  border: 4px double rgb(165, 105, 165);
  border-style:inset;
  color:rgb(255, 255, 255);
  transition: all 0.2s;
  object-position: left;
}


.row {
  display: flex;
  justify-content: center;
  }
  
  .column {
    flex:20%;
    justify-content: flex-start;
    padding: 10px
  }

  .column_2 {
    flex:47%;
    justify-content: flex-start;
    padding: 10px
  }

  .column_3 {
    /*flex:60%; */
    /*justify-content: flex-start; */
   /* padding: 1px */
  }
/*
  .column_4 {
    flex:5%; 
    justify-content: flex-start; 
    padding: 1px 
  }
  */

.palisades {
color: blue;
font-size: xx-large;
font-family:'Times New Roman', Times, serif
}

.palisades:hover {
  font-size:xx-large;
  color:  rgb(236, 210, 246);
  text-shadow:1px 1px 10px rgb(240, 253, 251), 1px 1px 10px rgb(230, 252, 231);
}

.nj {
color: blue;
font-size: xx-large;
font-family:'Times New Roman', Times, serif;
}

.nj:hover {
  plaza:hover 
  color: rgb(252, 255, 166);
  text-shadow:1px 1px 10px rgb(207, 216, 32), 1px 1px 10px rgba(216, 255, 21, 0.788);
}

.heaven {
  color: blue;
  font-size: xx-large;
  font-family:'Times New Roman', Times, serif;
}

.heaven:hover {
  color:rgb(232, 242, 243);
  text-shadow:1px 1px 10px rgb(243, 220, 232), 1px 1px 10px rgb(244, 244, 216);
}

.bro {
  color: blue;
  font-size: 10vw;
  font-family:Arial, Helvetica, sans-serif;
}

.bro:hover {
  color: rgb(255, 0, 0);
  font-size: 10vw;
  font-family:Arial, Helvetica, sans-serif;
}

#playlist {
  color:rgb(255, 255, 255);
}

/*
.strawberries {
  color:mediumvioletred;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
*/
.reach {
  border-radius:30px ;
  border-style:ridge;
  border-color: rgb(132, 198, 224);
}

/*
.container_5 {
  position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
  -webkit-text-stroke:2px ;
 -webkit-text-stroke-color: rgb(255, 141, 249);
 font-size:larger;
}
*/
/* Centered text */
.press {
  position:absolute;
  top: 49%;
  left: 45%;
 /*transform: translate(-50%, -50%); */
}
.blueberries {
  
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(110, 141, 64);
  -webkit-text-stroke:2px ;
 -webkit-text-stroke-color: rgb(217, 52, 209);
}

.robbery {
  color: rgb(220, 181, 234);
  -webkit-text-stroke:1.2px ;
  -webkit-text-stroke-color: rgb(227, 133, 223);
  font-size:xx-large ;
}

.macbook {
  color: blue;
  font-size: xx-large;
  font-family:Arial, Helvetica, sans-serif;
}

.iphone {
  position: absolute; 
  top: -17%;
  left: 70%;
}

.idiot {
  color:rgb(0, 2, 101);
  -webkit-text-stroke:2px ;
  -webkit-text-stroke-color: rgb(217, 75, 210);
}

.scam {
  color:rgb(151, 152, 232);
  -webkit-text-stroke:2px ;
  -webkit-text-stroke-color: rgb(208, 217, 75);
  font-size: 80px;
}

.accept {
 /* position:fixed; */
  top: 83%;
  left: 30%;
  color:black;
  font-size: xx-large;
  font-family:Arial, Helvetica, sans-serif;
  -webkit-text-stroke:2px ;
  -webkit-text-stroke-color: rgb(208, 217, 75);
}

.except {
  background-color:rgb(175, 198, 244);
  border-radius: 10px;
  border: 4px double rgb(156, 160, 231);
  border-style:outset;
  color:rgb(64, 0, 154);
  object-position: left;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  stroke-width:2px ;
}

.except:hover {
  background-color:rgb(123, 158, 226);
  border-radius: 10px;
  border: 4px double rgb(122, 150, 220);
  border-style:outset;
  color:rgb(64, 0, 154);
  object-position: left;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.thankyou {
  display: none;
}


.free {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: xx-large;
  color: rgb(255, 255, 255);
  -webkit-text-stroke:2px ;
  -webkit-text-stroke-color: black;
}

.free:hover + .thankyou {
  display: block;
  color:rgb(229, 131, 131);
  -webkit-text-stroke:2px ;
  -webkit-text-stroke-color: rgb(173, 0, 0);
}

.thankyou {
  
  left: 30%;

  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: xx-large;
}

.home {
  border-radius: 10px;
  background-color:rgb(244, 235, 242);
  border-color: rgb(236, 230, 236); ;
 
}

.home:hover {
  border-radius: 10px;
  background-color:rgb(215, 207, 214);
  border-color: rgb(214, 206, 214); ;
 
}