body {
  background-color: green;
} 

img {
  background-color:pink;
  width: 30w;
  border: solid black 10px;
  padding: 40 px;
}

p {
  background-color: aqua;
  font-size: 36px;
  padding: 4w;
  border: dotted pink 7px;
  margin 4w;
}