body {
  background-color: green;
} 

img {
  background-color:pink;
  width: 30vw;
  border: solid black 10px;
  padding: 40px;
}

p {
  background-color: rgb(211, 216, 148);
  font-size: 36px;
  padding: 4w;
  border: dotted rgb(255, 164, 179) 12px;
  margin: 4w;
}

div {
  text-align: center;
}

.potato {
  border: solid 20px blue;
  font-family: cursive;
  text-align: center;

}