body {
  background-color: rgb(244, 198, 221);
}

h5 {
  margin: 50px;
 /* background-color: rgb(168, 201, 144); */
  font-size: 80px ;
  display: flex;
  justify-content: center;
}

h5:hover {
  color:rgb(217, 255, 0);
  text-shadow:1px 1px 10px rgb(255, 252, 157), 1px 1px 10px rgb(253, 255, 128);
}

